* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    background-image: url(./Assets/bg2.png);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #34142E;
}

body * {
    font-family: 'Inter';
    line-height: 160%;
}

header {
    padding-top: 32px;
    height: calc(120px + 32px);
}

header div {
    width: 120px;
    margin: auto;
    background-image: linear-gradient(90deg, #993399 0%, pink 50.52%, #ff0657 100%);

    border-radius: 50%;

    display: flex;
    padding: 4px;

    transition: transform .3s;
}

header div:hover {
    transform: scale(1.1)
}

header div img {
    width: 100%;
    border-radius: 50%;
}

main {
    max-width: 580px;
    width: 90%;
    margin: auto;

    display: grid;
    gap: 24px;

    margin-top: 32px;
}

section {
    color: white;
    background-image: linear-gradient(90deg, #993399 0%, pink 50.52%, #ff0657 100%);
    padding-top: 4px;
    border-radius: 10px;
}

section div {
    background-color: #121214;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;

}

section h2 {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    letter-spacing: -0.47px;
}

section p {
    text-align: center;
    font-size: 25px;
    letter-spacing: -0.18px;
    color: #ffffff;
}



/* animation */

header div {
    animation: fromTop .7s .2s backwards;
}

main section {
    animation: fromBotton .7s backwards;
}

main section:nth-child(1) {
    animation-delay: 0;
}

@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fromBotton {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}